<!DOCTYPE html>
<!--[if IE 8]> <html class=" lt-ie9" lang="en" dir="ltr"> <![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component - </title>
	<link rel="stylesheet" href="../style/default.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div class="page-container">
		<h2 class="index-title">Carousel</h2>
		<div class="page-wrapper">

			<div class="grid__row">
				<div id="banner-fade">
					<ul class="bjqs">
						<li><img src="http://placehold.it/350x300?text=1" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=2" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=3" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=4" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=5" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=6" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=7" title="" alt=""/></li>
						<li><img src="http://placehold.it/350x300?text=8" title="" alt=""/></li>
					</ul>
				</div>
			</div>
			<br/><br/><br/><br/><br/>
			<div class="grid__row">
				<div class="col-sm-12 col-md-6">
				<h2>Click on tghe image</h2>
					<a href="../images/content/bhp-uk.jpg" data-lightbox="image-1" data-title="A caption"><img src="../images/content/bhp-uk.jpg" alt=""></a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- ==========Scripts====================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../script/default.js"></script>
	<script src="../script/modernizr.custom.js"></script>
	<script src="../script/fadeCarousel.js"></script>
</body>
</html>