<!DOCTYPE html>
<!--[if IE 8]> <html class=" lt-ie9" lang="en" dir="ltr"> <![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component - Custom links</title>
	<link rel="stylesheet" href="../style/default.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div class="page-container">
		<h2 class="index-title">Custom links</h2>
		<div class="page-wrapper">

			<div class="grid__row custom-links">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<section class="color-1">
						<div class="cl cl-effect-1">
							<a href="#">Wafture</a>
							<a href="#">Sumptuous</a>
							<a href="#">Scintilla</a>
							<a href="#">Propinquity</a>
							<a href="#">Harbinger</a>
						</div>
					</section>
					<section class="color-4">
						<div class="cl cl-effect-2">
							<a href="#"><span data-hover="Ratatouille">Ratatouille</span></a>
							<a href="#"><span data-hover="Lassitude">Lassitude</span></a>
							<a href="#"><span data-hover="Murmurous">Murmurous</span></a>
							<a href="#"><span data-hover="Palimpsest">Palimpsest</span></a>
							<a href="#"><span data-hover="Assemblage">Assemblage</span></a>
						</div>
					</section>
					<section class="color-6">
						<div class="cl cl-effect-3">
							<a href="#">Palimpsest</a>
							<a href="#">Ineffable</a>
							<a href="#">Lilt</a>
							<a href="#">Mellifluous</a>
							<a href="#">Serendipity</a>
						</div>
					</section>
					<section class="color-7">
						<div class="cl cl-effect-4">
							<a href="#">Woebegone</a>
							<a href="#">Lassitude</a>
							<a href="#">Murmurous</a>
							<a href="#">Palimpsest</a>
							<a href="#">Assemblage</a>
						</div>
					</section>
					<section class="color-5">
						<div class="cl cl-effect-5">
							<a href="#"><span data-hover="Seraglio">Seraglio</span></a>
							<a href="#"><span data-hover="Sumptuous">Sumptuous</span></a>
							<a href="#"><span data-hover="Scintilla">Scintilla</span></a>
							<a href="#"><span data-hover="Palimpsest">Palimpsest</span></a>
							<a href="#"><span data-hover="Assemblage">Assemblage</span></a>
						</div>
					</section>
					<section class="color-4">
						<div class="cl cl-effect-6">
							<a href="#">Umbrella</a>
							<a href="#">Ineffable</a>
							<a href="#">Lilt</a>
							<a href="#">Mellifluous</a>
							<a href="#">Serendipity</a>
						</div>
					</section>
					<section class="color-8">
						<div class="cl cl-effect-7">
							<a href="#">Languor</a>
							<a href="#">Lassitude</a>
							<a href="#">Murmurous</a>
							<a href="#">Palimpsest</a>
							<a href="#">Assemblage</a>
						</div>
					</section>
					<section class="color-1">
						<div class="cl cl-effect-8">
							<a href="#">Imbue</a>
							<a href="#">Sumptuous</a>
							<a href="#">Scintilla</a>
							<a href="#">Propinquity</a>
							<a href="#">Harbinger</a>
						</div>
					</section>
					<section class="color-9">
						<div class="cl cl-effect-9">
							<a href="#"><span>Gossamer</span><span>Sumptuous Heart</span></a>
							<a href="#"><span>Ineffable</span><span>Evanescent Life</span></a>
							<a href="#"><span>Chatoyant</span><span>Assemblage Love</span></a>
							<a href="#"><span>Mellifluous</span><span>Mellifluous Will</span></a>
							<a href="#"><span>Serendipity</span><span>Serendipity Cut</span></a>
						</div>
					</section>
					<section class="color-10">
						<div class="cl cl-effect-10">
							<a href="#" data-hover="Seraglio"><span>Seraglio</span></a>
							<a href="#" data-hover="Sumptuous"><span>Sumptuous</span></a>
							<a href="#" data-hover="Scintilla"><span>Scintilla</span></a>
							<a href="#" data-hover="Palimpsest"><span>Palimpsest</span></a>
							<a href="#" data-hover="Assemblage"><span>Assemblage</span></a>
						</div>
					</section>
					<section class="color-4">
						<div class="cl cl-effect-11">
							<a href="#" data-hover="Desultory">Desultory</a>
							<a href="#" data-hover="Sumptuous">Sumptuous</a>
							<a href="#" data-hover="Scintilla">Scintilla</a>
							<a href="#" data-hover="Propinquity">Propinquity</a>
							<a href="#" data-hover="Harbinger">Harbinger</a>
						</div>
					</section>
					<section class="color-5">
						<div class="cl cl-effect-12">
							<a href="#">Chatoyant</a>
							<a href="#">Ineffable</a>
							<a href="#">Efficiency</a>
							<a href="#">Mellifluous</a>
							<a href="#">Serendipity</a>
						</div>
					</section>
					<section class="color-6">
						<div class="cl cl-effect-13">
							<a href="#">Beleaguer</a>
							<a href="#">Lassitude</a>
							<a href="#">Murmurous</a>
							<a href="#">Palimpsest</a>
							<a href="#">Assemblage</a>
						</div>
					</section>
					<section class="color-1">
						<div class="cl cl-effect-14">
							<a href="#">Ailurophile</a>
							<a href="#">Sumptuous</a>
							<a href="#">Scintilla</a>
							<a href="#">Propinquity</a>
							<a href="#">Harbinger</a>
						</div>
					</section>
					<section class="color-3">
						<div class="cl cl-effect-15">
							<a href="#" data-hover="Desultory">Desultory</a>
							<a href="#" data-hover="Sumptuous">Sumptuous</a>
							<a href="#" data-hover="Scintilla">Scintilla</a>
							<a href="#" data-hover="Propinquity">Propinquity</a>
							<a href="#" data-hover="Harbinger">Harbinger</a>
						</div>
					</section>
					<section class="color-11">
						<div class="cl cl-effect-16">
							<a href="#" data-hover="Languor">Languor</a>
							<a href="#" data-hover="Murmurous">Murmurous</a>
							<a href="#" data-hover="Lassitude">Lassitude</a>
							<a href="#" data-hover="Chatoyant">Chatoyant</a>
							<a href="#" data-hover="Palimpsest">Palimpsest</a>
						</div>
					</section>
					<section class="color-4">
						<div class="cl cl-effect-17">
							<a href="#" data-hover="Languor">Languor</a>
							<a href="#" data-hover="Murmurous">Murmurous</a>
							<a href="#" data-hover="Lassitude">Lassitude</a>
							<a href="#" data-hover="Chatoyant">Chatoyant</a>
							<a href="#" data-hover="Palimpsest">Palimpsest</a>
						</div>
					</section>
					<section class="color-6">
						<div class="cl cl-effect-18">
							<a href="#" data-hover="Desultory">Desultory</a>
							<a href="#" data-hover="Sumptuous">Sumptuous</a>
							<a href="#" data-hover="Scintilla">Scintilla</a>
							<a href="#" data-hover="Propinquity">Propinquity</a>
							<a href="#" data-hover="Harbinger">Harbinger</a>
						</div>
					</section>
					<section class="color-5">
						<div class="cl cl-effect-19">
							<a href="#"><span data-hover="Ratatouille">Ratatouille</span></a>
							<a href="#"><span data-hover="Lassitude">Lassitude</span></a>
							<a href="#"><span data-hover="Murmurous">Murmurous</span></a>
							<a href="#"><span data-hover="Palimpsest">Palimpsest</span></a>
							<a href="#"><span data-hover="Assemblage">Assemblage</span></a>
						</div>
					</section>
					<section class="color-1">
						<div class="cl cl-effect-20">
							<a href="#"><span data-hover="Beleaguer">Beleaguer</span></a>
							<a href="#"><span data-hover="Scintilla">Scintilla</span></a>
							<a href="#"><span data-hover="Chatoyant">Chatoyant</span></a>
							<a href="#"><span data-hover="Palimpsest">Palimpsest</span></a>
							<a href="#"><span data-hover="Languor">Languor</span></a>
						</div>
					</section>
					<section class="color-7">
						<div class="cl cl-effect-21">
							<a href="#">Chatoyant</a>
							<a href="#">Ineffable</a>
							<a href="#">Efficiency</a>
							<a href="#">Mellifluous</a>
							<a href="#">Serendipity</a>
						</div>
					</section>
				</div>
			</div>
			
		</div>
	</div>
	<!-- ==========Scripts====================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../script/default.js"></script>
	<script src="../script/modernizr.custom.js"></script>
</body>
</html>