<!DOCTYPE html>
<!--[if IE 8]> <html class=" lt-ie9" lang="en" dir="ltr"> <![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Footer</title>
	<link rel="stylesheet" href="../style/default.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div class="page-container">
		<h2 class="index-title">Page footer</h2>

	</div>
	<footer class="page-footer ">
		<div class="footer-container page-wrapper">
			<div class="grid__row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="inner">
						<h3 class="heading green">Contact</h3>
						<p>Farnborough Automotive Services</p>
						<p>70 Guildford Rd East</p>
						<p>Farnborough</p>
						<p>Hampshire</p>
						<p>GU14 6P</p>
						<div class="device">
							<p class="desktop phone">01252 544 599</p>
							<a href="tel:01252544599" class="mobile phone">01252 544 599</a>
							<div class="email">
								<script src="../script/email.js"></script>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="inner">
						<h3 class="heading blue">Connect &amp; Share</h3>
						<ul class="social-links">
							<li class="blg"><a href="#">Blog</a></li>
							<li class="fb"><a href="#">Facebook</a></li>
							<li class="tw"><a href="#">Twitter</a></li>
							<li class="nl"><a href="#">Newsletter</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="inner">
						<h3 class="heading white">Location</h3>
						<div class="googleMap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2486.0380950003764!2d-0.9732769999999998!3d51.457457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1437995919216" width="100%" height="175" allowfullscreen target="_blank"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
