<!DOCTYPE html>
<!--[if IE 8]> <html class=" lt-ie9" lang="en" dir="ltr"> <![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component - Masthead</title>
	<link rel="stylesheet" href="../style/default.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if (lte IE 8)&!(IEMobile)]><link rel="stylesheet" href="../style/oldie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>
<body class="body">

	<header class="masthead">
		<div class="header-wrapper">
			<h1>Masthead</h1>
			<!-- <img src="#" alt="Primary logo"> -->
		</div>
	</header>
	<!-- ==========Scripts====================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../script/default.js"></script>
	<script src="../script/modernizr.custom.js"></script>
</body>
</html>