<!DOCTYPE html>
<!--[if IE 8]> <html class=" lt-ie9" lang="en" dir="ltr"> <![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Component - Overlay container</title>
	<link rel="stylesheet" href="../style/default.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
	<div class="page-container">
		<h2 class="index-title">Overlay container</h2>
		<div class="page-wrapper">

			<div class="grid__row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="image-overlay">
					    <img src="../images/content/service.jpg" alt="imageOne">
					    <div class="content">
					        <h2>Lorem ipsum</h2>
					        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error cupiditate sunt mollitia non? Soluta aut ea eveniet quaerat quidem inventore, temporibus blanditiis delectus ut fuga quibusdam voluptate, cum iste consectetur.</p>
					        <a class="greenText" href="">Find out more</a>
					    </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>